<div class="card">
  <div class="card-body">
    <h5 class="card-title">ログイン</h5>
    <p class="card-text">Twitterアカウントを用いてログインすることができます</p>
    <a href="#" class="btn btn-primary">
      
      Twitterで登録/ログイン
    </a>
    <p>
      <small>※ログイン後、ユーザー画面からいつでもアカウントを削除することができます。</small>
    </p>
  </div>
</div>
