<div class="card">
  <div class="card-header">
    ダミー商品
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">ディスクリプションが入ります</p>
    <a href="#" class="btn btn-default">いいね！</a>
    <a href="#" class="btn btn-primary">購入する</a>
  </div>
</div>
