<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="検索キーワードを入力してください">
  </div>
  <button type="submit" class="btn btn-primary mb-2">検索</button>
</form>
