nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand href="#"  Hobbycart管理
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link href="#"  ユーザー
      li.nav-item
        a.nav-link href="#"  商品
      li.nav-item
        a.nav-link href="#"  コメント
      li.nav-item
        a.nav-link href="#"  レビュー
      li.nav-item
        = link_to '購入ログ', admins_item_purchase_logs_path, class: 'nav-link'
      li.nav-item
        a.nav-link href="#"  反応ログ
